.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 10px;
  margin: 20px auto;
  border: 1px solid silver;
}

.link {
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  color: gray;
}

.link-container {
  padding: 15px 0;
}

.messages-container {
  display: flex;

}

.message-links {
  padding: 5px;
  text-decoration: none;
  color: grey;
}

.message-links-container {
  width: 110px;
  height: 100%;
}

.message {
  width: 380px;
}